<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a id="nav_collapser" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" id="nav_title" href="#events">CruiseMonkey</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a id="nav_home" href="#events">Official Events</a></li>
          <li><a id="nav_events" href="#my-events">My Events</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
