<form>
	<div class="row">
		<div class="three mobile-one columns">
			<label class="right inline">Login:</label>
		</div>
		<div class="nine mobile-three columns">
			<input type="text" placeholder="Twit-arrrr username..." data-bind="value: username" />
		</div>
	</div>
	<div class="row">
		<div class="three mobile-one columns">
			<label class="right inline">Password:</label>
		</div>
		<div class="nine mobile-three columns">
			<input type="password" placeholder="Twit-arrrr password..." data-bind="value: password" />
		</div>
	</div>
	<div class="row">
		<div class="twelve mobile-four columns">
			<div class="right inline">
				<a href="#" id="login_cancel" class="round secondary button">Cancel</a>
				<a href="#" id="login_save"   class="round button">Save</a>
			</div>
		</div>
	</div>
</form>