body {
	/* padding-top: 45px; */
}

input[type="search"] {
	font-size: large;
	margin: auto;
	z-index: 1;
}
	/* margin: 3px 0 3px 0; */

#official-search {
	margin-bottom: 5px;
}

#my-search {
	margin-bottom: 5px;
}

.top-bar {
	margin: 0px;
}

#content {
	/* margin-top: 45px; */
	padding: 5px;
}

#content.columns {
	padding: 0px;
}

.event-list {
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 5px;
	margin-bottom: -5px;
	border-top: 1px solid black;
}

.calendar-event {
	position: relative;
	border-bottom: 1px solid black;
	/* height: 100px; */
	width: 100%;
	overflow: auto;
	list-style-type: none;
	/* padding-left: 100px; */
	padding: 5px;

	background: #eee; /* for non-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #eee); /* for firefox 3.6+ */
}

.summary {
	font-size: larger;
	font-weight: bolder;
	margin-right: 18px;
}

.time {
	font-weight: bolder;
}
.time span {
	font-family: monospace;
}

.location {
	font-weight: bolder;
}

.favorite {
	position: absolute;
	display: block;
	float: right;
	margin: 3px;
	right: 0;
	top: 0;
}

.favorite input[type=checkbox] {
	display:none;
}

.favorite input[type=checkbox] + label {
	background:url(images/star-white.png) no-repeat;
	width: 32px;
	height: 32px;
}
.favorite input[type=checkbox]:checked + label {
	background:url(images/star-yellow.png) no-repeat;
	width: 32px;
	height: 32px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
	.favorite input[type=checkbox] + label {
		background:url(images/star-white@2x.png) no-repeat;
	}
	.favorite input[type=checkbox]:checked + label {
		background:url(images/star-yellow@2x.png) no-repeat;
	}
}
